:root {
  --background-color: #8b0051;
  --red: #f74444;
  --white: #fcddeb;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.wrapper {
  background: var(--background-color);
  height: 300px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container {
  display: flex;
  position: absolute;
  left: 92px;
}

.circle {
  width: 118px;
  height: 118px;
  border-radius: 50%;
  background: var(--background-color);
}

.border-red {
  border: 20px solid var(--red);
}
.border-white {
  border: 20px solid var(--white);
}

.crop-bottom {
  clip-path: polygon(
    0 0,
    100% 0,
    100% 50%,
    0 50%
  ); /* crop bottom part of element */
}
.crop-top {
  clip-path: polygon(
    0 50%,
    100% 50%,
    100% 100%,
    0 100%
  ); /* crop top part of element */
}

.right {
  margin-left: -20px;
}

.small-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 48px;
  z-index: 10;
}

.white-left {
  left: 0;
  background: var(--white);
}
.red-right {
  right: 0;
  background: var(--red);
}
