* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #f49fc7;
  --violet: #810070;
}

.wrapper {
  background: var(--background-color);
  width: 400px;
  height: 300px;
  position: relative;
}
.triangle {
  width: 0;
  height: 0;
  border: 250px solid transparent;
  border-inline: 200px solid transparent;
  border-bottom-color: var(--violet);
  position: absolute;
  bottom: 0;
}
.background-color {
  border-bottom-color: var(--background-color);
}
.middle {
  bottom: -50px;
}
.down {
  bottom: -125px;
}
