* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #3f4869;
  --red: #e25c57;
  --yellow: #f4da64;
}

.wrapper {
  width: 400px;
  height: 300px;
  background: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  position: relative;
  left: 40px;
}

.yellow {
  background-color: var(--yellow);
}

.red {
  background-color: var(--red);
}

.right {
  left: -40px;
}

.crop-top {
  position: absolute;
  left: 0;
  z-index: 1;
  clip-path: polygon(
    0 50%,
    100% 50%,
    100% 100%,
    0 100%
  ); /* crop top part of element */
}
